{% load static %}
<section class="blogs-area section-padding30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>Our Blog</span>
                    <h2>Our latest news</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blogs mb-100">
                    <div class="blog-img">
                        <img src="{% static "/img/gallery/blog1.png" %}" alt="">
                    </div>
                    <div class="blog-cap">
                        <span class="color1">23 Dec, 2020</span>
                        <h4><a href="#">Addiction When Gambling Becomes</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blogs mb-100">
                    <div class="blog-img">
                        <img src="{% static "/img/gallery/blog2.png" %}" alt="">
                    </div>
                    <div class="blog-cap">
                        <span class="color1">23 Dec, 2020</span>
                        <h4><a href="#">Addiction When Gambling Becomes</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blogs mb-100">
                    <div class="blog-img">
                        <img src="{% static "/img/gallery/blog3.png" %}" alt="">
                    </div>
                    <div class="blog-cap">
                        <span class="color1">23 Dec, 2020</span>
                        <h4><a href="#">Addiction When Gambling Becomes</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>